@import '../../styles/breakpoints.module.scss';
.card {
  &_bar {
    &_name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
    }
  }
}
@media (min-width: $breakpoint-md) {
}
@media (min-width: $breakpoint-lg) {
}
